<h4>Invite by Email</h4>
<%= form_with model: event_attendance, url: event_attendance_index_path do |form| %>
  <%= form.hidden_field :event_id, value: event_attendance.event_id %>
  <%= form.hidden_field :attendance_status, value: :invited %>
  <%= form.label :email %>
  <%= form.email_field :email, class: 'stackable-sm' %>
  <%= form.button 'Invite', type: 'submit', class: 'button-sm bordered' %>
<% end %>