<h1 class="stackable-md">My Events</h1>

<%= link_to new_event_path do %>
  <%= button_tag 'Create New Event', type: 'button', class: 'stackable-md bordered' %>
<% end %>

<%= render partial: 'events/event_card_list', locals: { title: 'Upcoming Events', events: @user.created_events.future.earliest_first } %>
<%= render partial: 'events/event_card_list', locals: { title: 'Past Events', events: @user.created_events.past.latest_first } %>

<hr class='stackable-sm'>

<%= render 'user_invitation_list', invitations: @user.invitations.pending_for_upcoming_events, title: 'Pending Invitations' %>

<hr class='stackable-sm'>

<h2 class='stackable-md'>My Event Attendance</h2>
<%= render partial: 'events/event_card_mini_list', locals: { title: 'Upcoming Events', events: @user.attended_events.future.earliest_first } %>
<%= render partial: 'events/event_card_mini_list', locals: { title: 'Past Events', events: @user.attended_events.past.latest_first } %>