<h2>My Events</h2>
<%= link_to "Create Event", new_event_path %>

<%= render 'user_event_list', events: @user.created_events.future, title: 'Future Events' %>
<%= render 'user_event_list', events: @user.created_events.past, title: 'Past Events' %>

<hr>

<h2>My Event Attendance</h2>

<p>Pending Invitations: </p>
<% @user.invitations.includes(:event).each do |invitation| %>
  <p><%= link_to invitation.event.name, invitation.event %> - private: <%= invitation.event.private %></p>
<% end %>

<p>Future Events</p>
<% @user.attended_events.future.each do |event| %>
  <p><%= link_to event.name, event %> - private: <%= event.private %></p>
<% end %>

<p>Past Events</p>
<% @user.attended_events.past.each do |event| %>
  <p><%= link_to event.name, event %> - private: <%= event.private %></p>
<% end %>