<p>User: <%= @user.email %></p>

<h2>My Events</h2>
<%= link_to "Create Event", new_event_path %>

<p>Future Events</p>
<% @user.created_events.future.each do |event| %>
  <p><%= link_to event.name, event %> - private: <%= event.private %></p> 
<% end %>

<p>Past Events</p>
<% @user.created_events.past.each do |event| %>
  <p><%= link_to event.name, event %> - private: <%= event.private %></p>
<% end %>

<hr>

<h2>My Event Attendance</h2>

<p>Pending Invitations: </p>
<% @user.invitations.includes(:event).each do |invitation| %>
  <p><%= link_to invitation.event.name, invitation.event %> - private: <%= invitation.event.private %></p>
<% end %>

<p>Future Events</p>
<% @user.attended_events.future.each do |event| %>
  <p><%= link_to event.name, event %> - private: <%= event.private %></p>
<% end %>

<p>Past Events</p>
<% @user.attended_events.past.each do |event| %>
  <p><%= link_to event.name, event %> - private: <%= event.private %></p>
<% end %>