<h2>My Events</h2>
<%= link_to "Create Event", new_event_path %>

<%= render 'user_event_list', events: @user.created_events.future, title: 'Future Events' %>
<%= render 'user_event_list', events: @user.created_events.past, title: 'Past Events' %>

<hr>

<h2>My Event Attendance</h2>

<p>Pending Invitations: </p>
<% @user.invitations.includes(:event).each do |invitation| %>
  <p><%= link_to invitation.event.name, invitation.event %><%= ' (private)' if invitation.event.private %></p>
<% end %>

<%= render 'user_attendance_list', events: @user.attended_events.future, title: 'Future Events' %>
<%= render 'user_attendance_list', events: @user.attended_events.past, title: 'Past Events' %>