<h2>My Events</h2>
<%= link_to "Create Event", new_event_path %>

<%= render 'user_event_list', events: @user.created_events.future, title: 'Future Events' %>
<%= render 'user_event_list', events: @user.created_events.past, title: 'Past Events' %>

<hr>

<h2>Pending Invitations: </h2>
<%= render 'user_invitation_list', invitations: @user.invitations.includes(:event) %>

<hr> 

<h2>My Event Attendance</h2>

<%= render 'user_attendance_list', events: @user.attended_events.future, title: 'Future Events' %>
<%= render 'user_attendance_list', events: @user.attended_events.past, title: 'Past Events' %>