<p>User: <%= @user.email %></p>

<h2>My Events</h2>
<%= link_to "Create Event", new_event_path %>

<p>Future Events</p>
<% @user.created_events.future.each do |event| %>
  <p><%= link_to event.name, event %></p>
<% end %>

<p>Past Events</p>
<% @user.created_events.past.each do |event| %>
  <p><%= link_to event.name, event %></p>
<% end %>

<hr>

<h2>My Event Attendance</h2>

<p>Future Events</p>
<% @user.attended_events.future.each do |event| %>
  <p><%= link_to event.name, event %></p>
<% end %>

<p>Past Events</p>
<% @user.attended_events.past.each do |event| %>
  <p><%= link_to event.name, event %></p>
<% end %>