<p>
  <%= @event.name %> at <%= @event.location %> on <%= @event.date %>
</p>

<% if user_signed_in? && current_user != @event.creator %>
  <% if current_user.attending?(@event) %>
    <%= button_to 'Quit Attending', event_attendance_path, method: :delete, params: { attended_event_id: @event.id, attendee_id: current_user.id } %>
  <% else %>
    <%= render 'event_attendance/form', event_id: @event.id %>
  <% end %>
<% end %>

<% if current_user == @event.creator %>
  <p>
    <%= link_to 'Edit', edit_event_path(@event) %> 
    <%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: "Are you sure?" } %>
  </p>

  <p>
    Invite by email: 
  </p>
<% end %>

Attendees:

  <% @event.event_attendance.includes(:attendee).each do |attendance| %>
  <p>
   <%= attendance.attendee.email %> 
   <% if @event.creator == current_user %>
      <%= link_to 'Delete', event_attendance_path(attendance), method: :delete, data: { confirm: "Really remove this user?" } %>
    <%end%>
  </p>
  <% end %>
