<p><%= @event.name %> at <%= @event.location %> on <%= @event.date %></p>

<p><%= render 'manage_own_attendance', event_attendance: @user_event_attendance %></p>

<% if current_user == @event.creator %>
  <p><%= render 'event_management_links', event: @event %></p>
  <p><%= render 'event_attendance/invite_by_email_form', event_attendance: @email_invite_event_attendance  %></p>
<% end %>

<%= render 'attendees_list', event: @event  %>

<%= render 'invitees_list', event: @event  %>