<div class="event-card bordered">
  <%= link_to event_path(event) do %>
    <div class="event-card-header padded-md">
      <%= event.name %><%= ' - (private)' if event.private? %> 
    </div>

    <div class="event-card-primary-field">
      <%= event.date %>
    </div>

    <div class="event-card-primary-field">
      <%= event.location %>
    </div>

    <div class="event-card-secondary-field">
      <%= event.description %>
    </div>
  <% end %>
</div>
