<p>
  <%= @event.name %> at <%= @event.location %> on <%= @event.date %>
</p>

<% if current_user == @event.creator %>
  <p>
    <%= link_to 'Edit', edit_event_path(@event) %> 
    <%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: "Are you sure?" } %>
  </p>

  <p>
    Invite by email: <%= render 'event_attendance/invite_by_email_form', event_id: @event.id  %>
  </p>
<% end %>

Attendees:

  <% @event.attendees.each do |attendee| %>
  <p>
   <%= attendee.email %> 
   <% if @event.creator == current_user %>
      <%= link_to 'Remove', event_attendance_path(attendee), method: :delete, data: { confirm: "Really remove this user?" } %>
    <%end%>
  </p>
  <% end %>

<% if @event.creator == current_user %>

Invited:
  <% @event.invitations.includes(:user).each do |invitation| %>
    <p>
      <%= invitation.user.email %> 
      <%= link_to 'Cancel', event_attendance_path(invitation), method: :delete, data: { confirm: "Really remove this invitation?" } %>
    </p>
  <% end %>
<% end %>