<% if @event.errors.any? %>
  Errors:
  <% @event.errors.each do |error| %>
  <p><%= error.full_message %></p>
  <% end %>
<% end %>

<%= form_with model: @event do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  <div>
    <%= form.label :private, 'Public'%>
    <%= form.radio_button :private, false %>
    <%= form.label :private, 'Private'%>
    <%= form.radio_button :private, true %>
  </div>
  
  <%= form.submit %>
<% end %>