<% if @event.errors.any? %>
  Errors:
  <% @event.errors.each do |error| %>
  <p><%= error.full_message %></p>
  <% end %>
<% end %>

<%= form_with model: @event do |form| %>
  <div class="field">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <br>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <br>
    <%= form.date_field :date, class: 'full-width' %>
  </div>

  <div class="field">
    <%= form.label :private, 'Public' %>
    <%= form.radio_button :private, false %>
    <%= form.label :private, 'Private' %>
    <%= form.radio_button :private, true %>
  </div>
  
  <%= form.button "Create", type: "submit", class: "centered" %>
<% end %>