<% if event.errors.any? %>
  <div class='error'>
    Errors:
    <% event.errors.each do |error| %>
    <p><%= error.full_message %></p>
    <% end %>
  <% end %>
</div>

<%= form_with model: event, class: 'event-form bordered padded-md' do |form| %>
  <%= form.label :name %>
  <br>
  <%= form.text_field :name, class: 'stackable-sm full-width' %>

  <%= form.label :location %>
  <br>
  <%= form.text_field :location, class: 'stackable-sm full-width' %>

  <%= form.label :date %>
  <br>
  <%= form.date_field :date , class: 'stackable-sm full-width'%>

  <%= form.label :description %>
  <br>
  <%= form.text_area :description, size: "30x6", class: 'stackable-sm full-width'%>

  <div class='stackable-sm'>
    <%= form.label :private, 'Public' %>
    <%= form.radio_button :private, false %>
    <%= form.label :private, 'Private' %>
    <%= form.radio_button :private, true %>
  </div>
  
  <%= form.button form_submit_text(event), type: "submit", class: 'bordered' %>
<% end %>