<% if @event.errors.any? %>
  Errors:
  <% @event.errors.each do |error| %>
  <p><%= error.full_message %></p>
  <% end %>
<% end %>

<%= form_with model: @event do |form| %>
  <%= form.label :name %>
  <br>
  <%= form.text_field :name %>

  <%= form.label :location %>
  <br>
  <%= form.text_field :location %>

  <%= form.label :date %>
  <br>
  <%= form.date_field :date, class: 'full-width' %>

  <%= form.label :private, 'Public' %>
  <%= form.radio_button :private, false %>
  <%= form.label :private, 'Private' %>
  <%= form.radio_button :private, true %>
  
  <%= form.button "Create", type: "submit", class: "centered" %>
<% end %>