<% if @event.errors.any? %>
  Errors:
  <% @event.errors.each do |error| %>
  <p><%= error.full_message %></p>
  <% end %>
<% end %>

<%= form_with model: @event do |form| %>
  <%= form.label :name %>
  <br>
  <%= form.text_field :name, class: 'stackable-sm full-width' %>

  <%= form.label :location %>
  <br>
  <%= form.text_field :location, class: 'stackable-sm full-width' %>

  <%= form.label :date %>
  <br>
  <%= form.date_field :date , class: 'stackable-sm full-width'%>

  <div class='stackable-sm'>
    <%= form.label :private, 'Public' %>
    <%= form.radio_button :private, false %>
    <%= form.label :private, 'Private' %>
    <%= form.radio_button :private, true %>
  </div>
  
  <%= form.button "Create", type: "submit" %>
<% end %>